{% extends 'homedir/index.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Furniture Kingdom</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

       

        section {
            padding: 20px;
            margin: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
        }

       
    </style>
</head>
<body>

   

    <section>
        <h2>About Us</h2>
        <p>
            Welcome to Furniture Kingdom, your go-to destination for high-quality and stylish furniture. 
            Our mission is to provide exceptional furniture pieces that enhance the beauty and comfort of your home.
        </p>
        <p>
            With years of experience in the furniture industry, we take pride in offering a diverse range of products 
            that cater to various styles and preferences. Whether you're looking for modern, classic, or eclectic pieces, 
            we've got you covered.
        </p>
        <p>
            At Furniture Kingdom, we prioritize customer satisfaction, and our dedicated team is committed to delivering 
            excellence in every aspect. Explore our collection and elevate your living spaces with our premium furniture.
        </p>
    </section>

   

</body>
</html>
{% endblock %}