{% extends 'homedir/index.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products list</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<style>
    .add {
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        background-color: black;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        width: 9%;
    }

    .all {

        margin: 20px;
        margin-left: 130px;
    }

    .mybtn{
        margin: 10px;
    }
</style>



<body>

    <div class="all"><a class="add" href="{%url 'product.add'%}">New Product</a></div>
    <div class="all"><a class="add" href="{%url 'product.addForm'%}">New addForm Product</a></div>
    <div class="all"><a class="add" href="{%url 'product.addMetaForm'%}">New addmetaForm Product</a></div>
    <div class="all"><a class="add" href="{%url 'product.GenericCreate'%}">create Product</a></div>
    
    {% if myproductslist %}
    <table border="5px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Category</th>
                <th>Actions</th>
                <th>Actions using generic method</th>
            </tr>
        </thead>
        <tbody>
            {% for product in myproductslist %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td> <img src="{{product.getimageurl}}"></td>
                <td>{{ product.category.name }}</td>
                <!--<td> <img   src="{% static product.image %}" alt="{{ product.name }} Image" width="100"></td>-->

                <td><a class="mybtn"  href="{% url 'product.detailes' product.id%}">Show details</a><br>
                    <a  class="mybtn"  href="{% url 'product.delete' product.id%}">Delete</a><br>
                    <a class="mybtn"   href="{% url 'product.update' product.id%}">Update</a><br>

                </td>
                <td>
                    <a  class="mybtn"  href="{% url 'product.GenericDetails' product.id%}">generic Show details</a><br>
                    <a class="mybtn"  href="{% url 'product.GenericDelete' product.id%}">generic Delete</a><br>
                    <a class="mybtn"   href="{% url 'product.GenericUpdat' product.id %}">generic Update</a><br>
                    

                </td>


                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No products available.</p>
    {% endif %}

</body>

</html>
{% endblock %}